<form action="/contacts" method="POST" enctype="multipart/form-data" class="form">
  <div class="form-group d-flex flex-column gap-2">
    <label for="picture-input">Profile picture</label>
    <img id="profile-picture" style="max-height: 150px; width: 150px; object-fit: cover; display: none">
    <input name="picture" id="picture-input" type="file" accept="image/png, image/jpeg, image/svg, image/webp" class="form-control">
  </div>

  <div class="form-group">
    <label for="first_name">First name</label>
    <input name="first_name" id="first_name" type="text" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="last_name">Last name</label>
    <input name="last_name" id="last_name" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="company">Company</label>
    <input name="company" id="company" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="phone_number">Phone number</label>
    <input name="phone_number" id="phone_number" type="phone" class="form-control">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input name="email" id="email" type="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input name="birthday" id="birthday" type="date" class="form-control">
  </div>

  <div class="form-group">
    <label for="note">Note</label>
    <textarea name="note" class="form-control"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Create contact</button>
</form>

<script src="/js/preview-pfp.js"></script>